$color-white: #FFFFFF;
$color-black: #111111;
$color-light-gray: #6C6C6C;
$color-lighter-gray: #CFCFCF;


$m-input-lighter-gray-color: #DCE3EB;
$m-input-darkness-gray-color: #6C6C6C;
$color-blue: #5555FF;
$color-blue-2: #4444FF;
$color-dark-dark: #252525;